/.idea
.travis.yml
appspec.yml

/auth-service/.idea
/auth-service/.mvn
/auth-service/target

/chat-service/.idea
/chat-service/.mvn
/chat-service/target

/voice-service/.idea
/voice-service/.mvn
/voice-service/target


/voice-service/.idea