<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-4relative] %highlight(%-5level) %boldWhite([%C.%M:%yellow(%L)]) - %boldBlue(%msg%n)</pattern>
        </encoder>
    </appender>


    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>host.docker.internal:4560</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>user_id</includeMdcKeyName>
            <includeMdcKeyName>channel_id</includeMdcKeyName>
            <includeMdcKeyName>channel_name</includeMdcKeyName>
            <includeMdcKeyName>Method</includeMdcKeyName>
            <includeMdcKeyName>type</includeMdcKeyName>
            <includeMdcKeyName>send_message</includeMdcKeyName>
            <includeMdcKeyName>client_ip</includeMdcKeyName>
            <includeMdcKeyName>client_agent</includeMdcKeyName>
            <includeMdcKeyName>logger_name</includeMdcKeyName>
        </encoder>
    </appender>


    <root>
        <level value="INFO"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="LOGSTASH"/>
    </root>

</configuration>